/*
Errno::EACCES: Permission denied @ unlink_internal - .sass-cache/c132fcb5bd4a6dfbc20f4b849b1dd469c20abea8/main.sassc

Backtrace:
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/cache_stores/filesystem.rb:26:in `unlink'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/cache_stores/filesystem.rb:26:in `_retrieve'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/cache_stores/base.rb:63:in `retrieve'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/cache_stores/chain.rb:25:in `block in retrieve'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/cache_stores/chain.rb:24:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/cache_stores/chain.rb:24:in `each_with_index'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/cache_stores/chain.rb:24:in `retrieve'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/engine.rb:407:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Library/Ruby/Gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::EACCES: Permission denied @ unlink_internal - .sass-cache/c132fcb5bd4a6dfbc20f4b849b1dd469c20abea8/main.sassc"; }
