@import url("https://fonts.googleapis.com/css?family=Arvo");
@import url("https://fonts.googleapis.com/css?family=Arimo");
body {
  font-family: "Arimo";
  color: #000;
  margin: 0px; }

body, html {
  height: 100%;
  width: 100%; }

h1 {
  font-family: "Arvo"; }

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll; } }
/* Menu */
.navbar {
  border-radius: 10px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.6) !important;
  width: 50%;
  margin: auto;
  animation-name: topFadeOut;
  animation-duration: 5s; }
@keyframes topFadeOut {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.navbar-brand h1 {
  font-size: 1rem; }

#navbarResponsive .nav-link {
  color: #fff; }

.nav-link:hover {
  border-bottom: 1px solid #6133FF;
  transform: translateY(-2px); }

/* Header */
#home {
  background: url(https://i.postimg.cc/tC57sY0t/storm.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover; }

.landing-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.landing-text h2 {
  font-size: 7rem;
  font-weight: 700;
  color: blue;
  font-family: "Arvo"; }
  .landing-text h2 span {
    color: #fff; }

.span {
  border: 1px solid blue;
  width: 10%;
  margin: auto; }

.landing-text h3 {
  animation: pulse 2s;
  color: #fff;
  margin-left: 550px; }

.padding {
  padding: 80px 0; }

/* FadeIn Effect */
@keyframes pulse {
  0% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: blue; } }
/* Titles */
.title {
  font-size: 40px;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 10px;
  text-transform: uppercase; }

.title::before {
  content: "";
  background: #6133FF;
  height: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
  text-transform: uppercase; }

.title::after {
  content: "";
  background: #6133FF;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
  text-transform: uppercase;
  opacity: 0; }

/*  About Us */
#about-us {
  margin-top: 0;
  width: 100%;
  height: auto;
  color: #000;
  background-color: #F8F8F8; }

#about-us .title {
  padding-top: 50px; }

.about-us {
  padding: 50px 0;
  margin: auto; }

.img-fluid {
  padding: 50px 0px; }

/* Feedback */
#feedback {
  margin: 100px 0 0 0; }

.feedback {
  border-left: 4px solid #6133FF;
  margin-top: 100px;
  margin-left: 10px;
  color: #000; }

.user-details {
  display: inline;
  font-size: 0.8rem; }

/* Social Media */
#social-media {
  padding: 50px 0;
  margin-top: 100px;
  background-color: #F8F8F8; }

#social-media p {
  font-size: 36px;
  font-weight: 600; }

#social-media .fab {
  margin-top: 20px;
  transition: 0.5s;
  font-size: 10rem;
  padding: 10px 50px;
  color: #6133FF; }

.fab:hover {
  transform: translateY(-10px); }

/* Newsletter */
.newsletter {
  background: url(https://i.postimg.cc/6ppqntts/newsletter.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 50%;
  padding-top: 50px;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: -10;
  overflow: hidden; }

.overlay {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #551A8B;
  opacity: 0.7; }

.newsletter p {
  max-width: 600px;
  margin: 50px auto;
  font-size: 15px;
  font-weight: 300; }

.email-box {
  height: 40px;
  display: flex;
  justify-content: center; }

.email-box i {
  background: #2f2542;
  width: 40px;
  line-height: 40px; }

.btn {
  border: none;
  outline: none; }

.tbox {
  width: 0;
  transition: 0.6s; }

.email-box:hover > .tbox, .tbox:focus {
  width: 20%;
  padding: 0 10px; }

.btn {
  background: #2f2542;
  color: #fff;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer; }

/* Footer */
.footer-box {
  padding: 20px; }

.footer-box:last-child {
  position: relative;
  left: 25%; }

#footer .fas {
  margin-right: 8px;
  font-size: 1.5rem;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px; }

hr {
  background: #000; }

.copyright {
  font-size: 0.9rem;
  margin: 0;
  padding-bottom: 20px;
  text-align: center; }

@media screen and (max-width: 500px) {
  #home {
    width: 10px; }

  .landing-text h2 {
    font-size: 5rem;
    font-weight: 700;
    color: red; }

  .landing-text h3 {
    font-size: 1rem; }

  #social-media h3 {
    font-size: 2rem; }

  #social-media .fab {
    font-size: 1rem; }

  .newsletter h3 {
    font-size: 2rem; }

  .newsletter p {
    margin-top: 100px;
    font-size: 5rem; }

  .email-box:hover > .tbox, .tbox:focus {
    width: 25%; } }
@media screen and (max-width: 768px) {
  .landing-text h2 {
    font-size: 5rem;
    font-weight: 700;
    color: blue; }

  .landing-text h3 {
    font-size: 1rem; }

  #social-media h3 {
    font-size: 2rem; }

  #social-media .fab {
    font-size: 5rem; }

  .newsletter h3 {
    font-size: 2rem; }

  .newsletter p {
    margin-top: 100px;
    font-size: 1.3rem; }

  .email-box:hover > .tbox, .tbox:focus {
    width: 25%; } }
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .newsletter h3 {
    font-size: 3rem; }

  .newsletter p {
    margin-top: 100px;
    font-size: 1.5rem; }

  .email-box:hover > .tbox, .tbox:focus {
    width: 25%; } }
@media screen and (min-width: 1171px) {
  .newsletter h3 {
    font-size: 3rem; }

  .newsletter p {
    margin-top: 100px;
    font-size: 1.5rem; }

  .email-box:hover > .tbox, .tbox:focus {
    width: 10%; } }

/*# sourceMappingURL=main.css.map */
